* {
    color: #2d94f5;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    margin: 10px; 
    border-radius: 20px;
}
body{
    background-color: #e1e7f7;
}
h1 {
    background-color: #ffffff;
    width: 1000px;
    padding: 25px 100px;
    box-sizing:border-box; border: 4px ridge rgb(13, 110, 167);
    text-align:center;
    text-shadow: 1px 1px rgb(4, 2, 128);
    margin: auto;
} 
#h1title {
    font-size: 50px;
    font-weight: 400px;
    font-family: 'Parisienne', cursive;
    line-height: 1,5;
}

}
h2 {
    font-weight: 400 ;
}
h4 {
    font-weight: 200;
}

p:hover{
    color: rgb(24, 42, 206);
}
.contact-form__h2 {
    font-size: 15px
}
.footer {
    font-family: 'Work Sans', sans-serif;
    }